doctype html
html
  head
    title Ritual Lemmings
  body
    script(src='socket.io/socket.io.js')
    script.
      var socket = io();

      socket.on('boot', function (data) {
        console.log('I am', data.clientType);

        if (data.clientType === 'master') {
          bootMaster();
        } else {
          bootSlave();
        }
      });

      function bootMaster() {
        socket.on('input', function (data) {
          console.log('input', data);
        });
      }

      function bootSlave() {
        socket.on('game', function (data) {
          console.log('game', data);
        });
      }


      function meep() {
        console.log('sending meep...');
        socket.emit('nachricht', { data: 'meep' });
      }
      window.socket = socket;
    p hello lemming

    button(onClick='meep();') Meep
